.preloader-container {
    height: 100vh;
    width: 100%;
    background: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .preloader-container h2 span {
    position: relative;
    font-size: 64px;
    color: transparent;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.5);
    font-family: sans-serif;
    letter-spacing: 22px;
  }
  
  .preloader-container h2 span:after,
  .preloader-container h2 span:before {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-text);
  }
  
  .preloader-container h2 span:before {
    z-index: 10;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 1);
    animation: animation1 1s ease-in-out infinite;
  }
  
  @keyframes animation1 {
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(40px, -40px);
    }
  }
  
  .preloader-container h2 span:after {
    z-index: 9;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.6);
    animation: animation2 1s ease-in-out infinite;
  }
  
  @keyframes animation2 {
    0%, 100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(20px, -20px);
    }
  }
  
  .preloader-container h2 span:nth-child(1):before,
  .preloader-container h2 span:nth-child(1):after {
    animation-delay: 0s;
  }
  
  .preloader-container h2 span:nth-child(2):before,
  .preloader-container h2 span:nth-child(2):after {
    animation-delay: 0.1s;
  }
  
  .preloader-container h2 span:nth-child(3):before,
  .preloader-container h2 span:nth-child(3):after {
    animation-delay: 0.2s;
  }
  
  .preloader-container h2 span:nth-child(4):before,
  .preloader-container h2 span:nth-child(4):after {
    animation-delay: 0.3s;
  }
  
  .preloader-container h2 span:nth-child(5):before,
  .preloader-container h2 span:nth-child(5):after {
    animation-delay: 0.4s;
  }
  
  .preloader-container h2 span:nth-child(6):before,
  .preloader-container h2 span:nth-child(6):after {
    animation-delay: 0.5s;
  }
  